<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#f9fafb" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Phoenix 2048">
      {assigns[:page_title]}
    </.live_title>
    <link rel="icon" type="image/svg+xml" href={~p"/images/favicon-simple.svg"} />
    <link rel="alternate icon" href={~p"/favicon.ico"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
